@import '../../style/fonts.scss';
@import '../../style/colors.scss';
@import '../../style/general.scss';

@mixin niceinput {
    input {
        font-size: $mediumFont;
        padding: 7px 15px 7px 23px;
        outline: none;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        color: $corpColor2;


        &::placeholder {
            font-style: italic;
            opacity: 0.5;
            color: $corpColor2;
        }
    }
}

@mixin nicebutton {
    button {
        border: 1px solid $corpColor2Light;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        padding: 5px 15px;
        margin: 0px 10px;
        font-size: $smallFont;
        background-color: $todoListBgColor;
        color: $corpColor2;
        cursor: pointer;
        @include nice-transition();

        &:hover,
        &.active {
            background-color: $corpColor2;
            color: $corpColor3Light;
        }

        &:focus {
            outline: 0;
        }

        &:disabled {
            opacity: 0.6;
            border: 1px solid $textColor;
            background-color: transparent;
            color: $textColor;
            cursor: default;
        }
    }
}




.ZartisApp {
    .taskInput {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-self: stretch;
        align-items: center;
        border-bottom: 1px solid $pageBgColor;
        padding: 23px;
        @include niceinput();

        input {
            flex-grow: 1;
        }
        &.disabled{
            opacity: 0.5;
        }
    }

    .taskLine {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
            align-self: stretch;
            font-size: $mediumFont;
            margin: 0px;
            padding: 10px 15px;
            border-bottom: 1px solid $pageBgColor;

            &:nth-last-child() {
                border-bottom: transparent
            }

            @include nice-transition();

            .taskStatus {
                cursor: pointer;
                font-size: $mediumFont;
                display: flex;
                align-items: center;
                padding: 3px 9px 0px 0px;

                &:hover {
                    cursor: pointer;
                }

            }

            .taskName {
                flex-grow: 1;
                padding: 0px 10px;
                color: $corpColor2;
            }

            .taskDelete {
                opacity: 0.1;

                &:hover {
                    cursor: pointer;
                }

                @include nice-transition();
            }

            &:hover {
                background-color: $activeRowBgColor;

                .taskDelete {
                    opacity: 1;
                    display: block;
                }
            }
        }
    }

    .taskToolbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-self: stretch;
        padding: 50px 14px 30px 16px;

        .taskListStatus {
            display: flex;
            align-self: center;
            font-size: $mediumFont;
            padding-left: 10px;

            span {
                color: $corpColor2;
                
            }
            &.loadingGif {
                position: relative;
                width: 200px;
                height: 50px;
                overflow: hidden;

                img {
                    width: 200%;
                    position: absolute;
                    top: -208%;
                    left: -50%;
                }
            }
        }

        .taskListViews {
            flex-grow: 1;
            text-align: center;
        }

        .taskListClear {}

        @include nicebutton();

    }
}

@media all and (max-width: 1050px) {
    .ZartisApp {
        .taskToolbar>div {
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            margin: auto;

            span {
                margin: auto;
            }
        }
    }
}